@keyframes display-anim {
  0% { opacity: 0 }
  15% { opacity: 0 }
  80% { opacity: 1 }
}
@-webkit-keyframes display-anim {
  0% { opacity: 0 }
  15% { opacity: 0 }
  80% { opacity: 1 }
}
@-moz-keyframes display-anim {
  0% { opacity: 0 }
  15% { opacity: 0 }
  80% { opacity: 1 }
}
@-o-keyframes display-anim {
  0% { opacity: 0 }
  15% { opacity: 0 }
  80% { opacity: 1 }
}

html, body {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui, arial, sans-serif;
  background-color: #efefef;
}

body {
  color: #fafafa;
  text-align: center;
  background-image: linear-gradient(75deg, rgba(240, 240, 240, 0.1) 0, rgba(240, 220, 105, 0.4) 100%, transparent 100%),
                    linear-gradient(-12deg, rgba(237, 169, 12, 0.5) 0, rgba(237, 169, 12, 0.6) 50%, transparent 50%),
                    linear-gradient(254deg, rgba(240, 191, 31, 0.5) 0, rgba(240, 191, 31, 0.6) 20%, transparent 20%);
}

h1 {
  text-transform: uppercase;
  margin: 0;
  line-height: 1.3em;
  font-size: 1.8em;
}

h3 {
  margin-top: 0.7em;
}

small {
  color: #b3b3b3;
}

hr {
  display: none;
}

.app-content {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
}

.page-content {
  text-align: center;
  flex: 1 1 auto;
}

.page-footer {
  position: relative;
  text-align: center;
  margin-top: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 0 0 auto;
}

.line-section {
  width: calc(100% - 250px);
  margin: 2.5em auto 3em;
  color: #172238;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.categories-container {
  width: calc(100% - 250px);
  margin: 1em auto;
  color: #172238;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
}

.categories {
  padding: 2em 0;
  border-radius: 1em;
  background-color: rgba(28, 28, 28, 0.9);
}

.categories-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: #ccc 2px solid;
  border-top: #ccc 2px solid;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

.categories-list a {
  padding: 1em 0;
  font-size: 12px;
  flex: 0 0 19%;
  text-decoration: none;
  border-radius: 1em;
  color: #fafafa;
}

.categories-list a:hover,
.categories-list a:focus,
.categories-list a:visited,
.categories-list a:active {
  background-color: rgba(100, 100, 100, 0.6);
  outline: none;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-outline-style: none;
}

.line {
  min-width: 30em;
  animation: display-anim 0.5s ease-in-out;
}

.categories {
  animation: display-anim 0.5s ease-in-out;
}

.duck {
  animation: display-anim 0.5s ease-in-out;
  max-height: 400px;
}

.options {
  animation: display-anim 1s ease-in-out;
  margin: 10px auto;
}

.footer-box {
  animation: display-anim 0.5s ease-in-out;
}

.line, .duck, .options {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.options-copy-msg {
  opacity: 0;
  transition: all 1s;
  padding: 7px 35px;
  border-radius: 50px ;
  background-color: rgba(29, 34, 48, 0.85);
  color: #fafafa;
  margin: 10px auto;
  width: 70px;
  font-size: 14px;
}

.footer {
  height: 155px;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #21242b
}

.footer-box {
  min-width: 200px;
  max-width: 30%;
}

.footer-copyright {
  padding: 17px 0;
  background-color: #16181d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-container,
.notfound-container,
.categories-container {
  display: none;
}
