html, body {
  background-color: #fdfeff;
}

h2 {
  font-size: 2rem;
}

.app-content {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
}

.page-content {
  text-align: center;
  flex: 1 1 auto;
}

.page-footer {
  position: relative;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 0 0 auto;
}

.carousel {
  height: 70vh;
}

.carousel-inner {
  color:#172238;
  background-color: #efefef;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0.7);
}

.carousel-item {
  font-family: system-ui, arial, sans-serif;
}

.carousel-item-container {
  background-image: linear-gradient(75deg, rgba(240, 240, 240, 0.1) 0, rgba(240, 220, 105, 0.4) 100%, transparent 100%),
                    linear-gradient(-12deg, rgba(237, 169, 12, 0.5) 0, rgba(237, 169, 12, 0.6) 50%, transparent 50%),
                    linear-gradient(254deg, rgba(240, 191, 31, 0.5) 0, rgba(240, 191, 31, 0.6) 20%, transparent 20%);
}

.carousel-image {
  max-height: 400px;
}

.navbar {
  box-shadow: 0 0.5rem 1rem rgba(100,100,100,0.05), inset 0 -1px 0 rgba(100,100,100,0.15);
}

.options {
  padding: 1.5rem 1rem 1rem;
}

.options-copy-msg {
  opacity: 0;
  transition: all 1s;
  padding: 4px 0px;
  border-radius: 50px;
  background-color: rgba(29, 34, 48, 0.85);
  color: #fafafa;
  margin: -35px auto 0;
  z-index: 1000;
  width: 135px;
  font-size: 12px;
  position: relative;
}
