i {
  font-size: 2.5em;
}

a.fas,
a.fab,
a.far {
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px;
  color: #249e61;
  border: solid 4px #249e61;
  background-color: transparent;
}
a.fas:hover,
a.fab:hover,
a.far:hover,
a.fas:active,
a.fab:active,
a.far:active,
a.fas:visited,
a.fab:visited,
a.far:visited,
a.fas:focus,
a.fab:focus,
a.far:focus {
  filter: brightness(1.1);
  outline: none;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-outline-style: none;
}

a:not(:first-of-type) {
  margin-left: 0.5em;
}

a.fa-facebook-f {
  border-color: #2241a0;
  color: #2241a0;
  margin-left: 0.5em;
  padding: 10px 14px;
}

a.fa-twitter {
  border-color: #008ae6;
  color: #008ae6;
  padding: 10px 9px 10px 11px;
}

a.fa-home {
  border-color: #404040;
  color: #404040;
  padding: 10px 9px;
}

a.fa-clone {
  border-color: #ff1a75;
  color: #ff1a75;
}
