i {
  font-size: 2.5em;
}

a.fas,
a.fab,
a.far {
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px;
  color: #fafafa;
  background-color: #1d2230;
}
a.fas:hover,
a.fab:hover,
a.far:hover,
a.fas:focus,
a.fab:focus,
a.far:focus {
  filter: brightness(0.9);
  box-shadow: #334 0px 0px 4px;
}

a:not(:first-of-type) {
  margin-left: 0.5em;
}

a.fa-facebook-f {
  background-color: #2241a0;
  margin-left: 0.5em;
  padding: 10px 14px;
}

a.fa-twitter {
  background-color: #008ae6;
  padding: 10px 9px 10px 11px;
}

a.fa-whatsapp {
  background-color: #2eb82e;
  padding: 8px 9px 8px 11px;
  font-size: 1.8em;
}

a.fa-clone {
  background-color: #ff471a;
}
