@media screen and (max-width: 850px) {
  h2 {
    font-size: 1.2rem !important;
  }

  a.fas,
  a.fab,
  a.far {
    font-size: 1.2rem !important;
  }

  a.fa-facebook-f {
    padding: 10px 13px !important;
  }

  .carousel {
    height: 77vh;
  }

  .carousel-image {
    max-height: 275px !important;
  }
}
